<div class="todo-container">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1>To-Do List</h1>
            <div class="todo">
                <form action="/todotask" method="POST" class="todo-header">
                    <input type="text" name="content" placeholder="What will you do today?" required>
                    <button type="submit"><span class="fas fa-plus"></span></button>
                </form>
                <br>
                <hr/>
                <ul class="todo-list">
                    <% todoTasks.forEach(details => { %>
                        <li class="todo-list-item">
                            <div class="todo-list-item-name">
                                <%= details.content %>
                            </div>
                            <a href="todotask/edit/<%= details._id %>" class="edit">
                                <span class="fas fa-edit"></span>
                            </a>
                            <a href="todotask/remove/<%= details._id %>" class="remove">
                                <span class="fas fa-times"></span>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>