<div class="home-container">
    <!-- START WELCOME SECTION -->
    <section id="welcome-section" class="welcome-section">
        <%if(user){%>
            <h1>Welcome,
                <%= user.name %> !</h1>
            <p>How are you doing today ?</p>
            <%}else{%>
                <h1>Hey I am Khoi</h1>
                <p>a web developer</p>
                <%}%>

    </section>

    <!-- END WELCOME SECTION -->

    <!-- START PROJECTS SECTION -->
    <section id="projects" class="projects-section">
        <h2 class="projects-section-header">These are some of my projects</h2>

        <div class="projects-grid">
            <a href="todotask" target="_self" class="project project-tile">
                <img class="project-image" src="/images/todolist.png" alt="" />
                <p class="project-title">
                    <span class="code">&lt;</span> Todolist
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>

            <a href="#" target="_self" class="project project-tile">
                <img class="project-image" src="/images/chatroom.png" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span>Chatroom (Comming soon)
                    <span class="code">&#47;&gt;</span>

                </p>
            </a>

            <a href="#" target="_self" class="project project-tile">
                <img class="project-image" src="/images/sudoku.png" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span> Sudoku (Comming soon)
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>

            <a href="#" target="_self" class="project project-tile">
                <img class="project-image" src="/images/ai_chatbot.jpeg" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span> Chat with AI Bot (Comming soon)
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>

            <a href="#" target="_self" class="project project-tile">
                <img class="project-image" src="/images/flashcard.jpg" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span> Flashcard (Comming soon)
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>

        </div>

        <a href="#project" class="btn btn-show-all" target="_self">Show all<i class="fas fa-chevron-right"></i
    ></a>
    </section>

    <!-- END PROJECTS SECTION -->

    <!-- START CONTACT SECTION -->

    <section id="contact" class="contact-section">
        <div class="contact-section-header">
            <h2>Let's work together...</h2>
            <p>How do you take your coffee?</p>
        </div>
        <div class="contact-links">
            <a href="https://facebook.com/khoivh97" target="_blank" class="btn contact-details"><i class="fab fa-facebook-square"></i> Facebook</a
      >
      <a id="profile-link"
        href="https://github.com/vuhuykhoi"
        target="_blank"
        class="btn contact-details"
        ><i class="fab fa-github"></i> GitHub</a>
            <a href="mailto:vhk.forwork@gmail.com" class="btn contact-details"><i class="fas fa-at"></i> Send a mail</a>
        </div>
    </section>
    <!-- END CONTACT SECTION -->
</div>